---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'The Honest Games Project'
---

<BaseLayout pageTitle={pageTitle}>
	<div class="fullWidth heightLarge">
		<h1>The Honest Games Project</h1>
		<hr class="doubleLine" id="doubleLineTop" />
		<hr class="doubleLine" id="doubleLineBottom" />
		<p class="subHeading">
			An educational resource for gamers and non-gamers alike to make informed
			purchases on the games we love.
		</p>
	</div>
	<div class="rowContainerWithImage bodyWrapper">
		<div class="rowContainerWithImageText">
			<h2>Deceptive Patterns in Video Games</h2>
			<p>
				Deceptive patterns are design choices in websites, apps, and video games
				used to intentionally manipulate users into taking actions they
				otherwise would not, and they are everywhere in video games. From loot
				boxes, to time-limited sales, deceptive patterns in video games actively
				push users to spend more time and money in the game most commonly
				through microtransactions.
			</p>
		</div>
		<img src="https://placehold.co/600x400" />
	</div>
	<div class="threeUp fullWidth">
		<h2>Why does it matter?</h2>
		<div class="threeUpItemContainer">
			<div class="threeUpItem">
				<h3>Deceptive patterns hurt.</h3>
				<p>
					Many gamers are unaware of the predatory designs causing them to spend
					hundreds, if not thousands of dollars on in-game purchases.
				</p>
			</div>
			<div class="threeUpItem">
				<h3>No age restrictions.</h3>
				<p>
					Games can contain loot boxes that are “psychologically akin to
					gambling” and prime its users to form unhealthy gaming habits yet kids
					can easily access them.
				</p>
			</div>
			<div class="threeUpItem">
				<h3>Unaware Consumers.</h3>
				<p>
					Deceptive pattern obfuscate the true price of in-game purchases,
					making it extremely difficult to make an informed purchase decision.
				</p>
			</div>
		</div>
	</div>
	<div class="bodyWrapper">
		<div class="rowContainerWithImage">
			<img src="https://placehold.co/600x400" />
			<div class="rowContainerWithImageText">
				<h2>Glossary of Deceptive Designs</h2>
				<p>
					There are over X known deceptive patterns in video games. These
					designs all push users to spend more time and money. The Glossary
					provide names, descriptions, and real world examples from some of the
					most popular titles like Call of Duty and League of Legends.
				</p>
			</div>
		</div>
		<div class="rowContainerWithImage">
			<div class="rowContainerWithImageText">
				<h2>Counter Deceptive Patterns</h2>
				<p>
					Arm yourself with the knowledge you need to defend against the subtle
					influences of these deceptive designs. Find common and helpful
					strategies aiming to reduce or prevent time and money spent on video
					games.
				</p>
			</div>
			<img src="https://placehold.co/600x400" />
		</div>
		<div class="rowContainerWithImage">
			<img src="https://placehold.co/600x400" />
			<div class="rowContainerWithImageText">
				<h2>About the Project</h2>
				<p>
					Originally started as an undergraduate senior thesis project, the
					Honest Games Project is designed to expose deceptive designs in
					interactive media. It is part of a long term mission to become a
					consumer advocate for video game players of all ages. Alex, the sole
					developer of the project, has a bachelors degree in English and
					Interactive Multimedia and loves all forms of digital media, with
					expertise in web design, writing and video editing.
				</p>
				<p>
					The project is under active development and is open to feedback. View
					the roadmap.
				</p>
			</div>
		</div>
	</div>
</BaseLayout>
