---
import Social from './Social.astro'
import FooterNav from './FooterNav.astro'
---

<footer>
	<div class=""
	<span id="footerLogo">Honest Games</span>
	<Social platform="twitter" username="astrodotbuild" />
	<Social platform="github" username="withastro" />
	<Social platform="youtube" username="astrodotbuild" />
	<FooterNav />
</footer>
