---
import Social from './Social.astro'
import FooterNav from './FooterNav.astro'
---

<style>
	footer {
		display: flex;
		gap: 1rem;
		margin-top: 2rem;
	}
</style>
<footer>
	<span id="footerLogo">Honest Games</span>
	<Social platform="twitter" username="astrodotbuild" />
	<Social platform="github" username="withastro" />
	<Social platform="youtube" username="astrodotbuild" />
	<FooterNav />
</footer>
