---
import { Icon } from 'astro-icon'
---

<div class="hamburger">
	<Icon name="mdi:hamburger-menu" class="hamburgerIcon" />
	<img class="center" src="../images/HonestGamesNavLogo.svg" />
	<span id="spacer"></span>
</div>
<div class="dropdown">
	<a href="/">Home</a>
	<a href="/">Reviews</a>
	<a href="/">Glossary</a>
	<a href="/decpetive-patterns-calculator/">Calculator</a>
</div>
