---
import { Icon } from 'astro-icon'
---

<div class="hamburger">
	<Icon name="mdi:hamburger-menu" class="hamburgerIcon" />
	<img class="center" src="images/HonestGamesNavLogo.svg" />
	<span id="spacer"></span>
</div>
<div class="dropdown">
	<a href="/">Home</a>
	<a href="/about/">Reviews</a>
	<a href="/">Home</a>
	<a href="/about/">Reviews</a>
</div>
