---
import { Icon } from 'astro-icon'
---

<div class="nav-links">
	<a href="/">Home</a>
	<a href="/about/">Reviews</a>
	<img src="images/HonestGamesNavLogo.svg" />
	<a href="/">Home</a>
	<a href="/about/">Reviews</a>
</div>
