---
import { Icon } from 'astro-icon'
---

<div class="nav-links">
	<a href="/">Home</a>
	<a href="/">Reviews</a>
	<img src="../images/HonestGamesNavLogo.svg" />
	<a href="/">Glossary</a>
	<a href="/decpetive-patterns-calculator/">Calculator</a>
</div>
