---
import { Icon } from 'astro-icon'
---

<div class="nav-links">
	<a href="/">Home</a>
	<a href="/about/">Reviews</a>
	<span id="navLogo">Honest Games</span>
	<a href="/blog/">Glossary</a>
	<a href="/tags/">Calculator</a>
</div>
